build/
xcuserdata/
Pods/

.DS_Store
Podfile.lock

*.xcuserstate
*.xccheckout
*.xcscmblueprint

DerivedData/

.bundle/
vendor/bundle/

.env
.env.*

*.p12
*.p8
*.cer
*.key
*.pem
*.mobileprovision
*.provisionprofile
